
{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Hexashop - About Page</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-hexashop.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
<!--

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

-->
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
<a href="/" class="logo">
    <img height="70" src="{% static 'assets/images/logo.png' %}" 
         style="border-radius:50px; margin-left:0;">
</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
                            <!-- <li class="scroll-to-section"><a href="/products">Products</a></li> -->
                            <li class="scroll-to-section"><a href="/about">About Us</a></li>
                            <!-- <li class="scroll-to-section"><a href="/single/product">Single Product</a></li> -->
                            <li class="scroll-to-section"><a href="/contact">Contact Us</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>About Our Company</h2>
                         <span>WASAM AL SHAHBA TRAD.(ASSO) </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="{% static 'assets/images/about-left-image.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <h4>About Us </h4>
                        <span>Welcome to WASAM AL SHAHBA TRAD.(ASSO), your one-stop destination for everyday needs!
We provide quality products for newborn babies to 15-year-old children, offering a wide range of dresses, toys, school items, and daily-use essentials. Along with kids’ products, we also supply household needs like dishwash items, disposable products, and readymade garments for all age groups.</span>
              
                        <p>Our mission is to make shopping simple, affordable, and trustworthy. We hand-pick every product to ensure quality and customer satisfaction. Whether you are looking for cute baby clothing, teenage fashion styles, toys, home-care items, or disposable goods—we have everything under one roof.

We value your trust, and we aim to build long-lasting customer relationships through honesty, quality service, and fair pricing.

Thank you for choosing us!.</p>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->





    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <img style="border-radius:50px; margin-left:0;" height="70" src="{% static 'assets/images/white-logo.png' %}" alt="hexashop ecommerce templatemo">
                        </div>
                        <ul>
                            <li><a href="#">C.R:1126649 ,P.O:33 ,P.C.NO:415 ,S.O.OF OMAN ,JALAN BANI BU HASSAN</a></li>
                            <li><a href="#">wasamalshahba@gmail.com</a></li>
                            <li><a href="#">988-878-99</a></li>
                        </ul>
                    </div>
                </div>




            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>
    <script src="{% static 'assets/js/datepicker.js' %}"></script>
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script> 
    <script src="{% static 'assets/js/slick.js' %}"></script> 
    <script src="{% static 'assets/js/lightbox.js' %}"></script> 
    <script src="{% static 'assets/js/isotope.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>

</html>
