{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Template</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-hexashop.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">
<!--

TemplateMo 571 Hexashop

https://templatemo.com/tm-571-hexashop

-->
    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
<a href="/" class="logo">
    <img height="70" src="{% static 'assets/images/logo.png' %}" 
         style="border-radius:50px; margin-left:0;">
</a>



                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
<ul class="nav">
    <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
    <li class="scroll-to-section"><a href="#about">About Us</a></li>
    <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
</ul>      
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <div class="thumb">
                            <div class="inner-content">
                                <h4 style="color: rgb(0, 0, 0);">WASAM AL SHAHBA TRAD.(ASSO)</h4>
                                <span style="color: rgb(0, 0, 0);">JALAN BANI BU HASSAN &amp; OMAN</span>
                                <div class="main-border-button">
                                </div>
                            </div>
                            <img src="{% static 'assets/images/left-banner-image.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4 style="color: rgb(0, 0, 0);">Toys & Gifts</h4>
                                            <span style="color: rgb(0, 0, 0);">Fun, creative, and exciting toys and gifts that bring joy to every child.</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Fun, creative, and exciting toys and gifts that bring joy to every child.</h4>
                           
                                            </div>
                                        </div>
                                        <img src="{% static 'assets/images/baner-right-image-01.jpg' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4 style="color: rgb(0, 0, 0);">Newborn Babys</h4>
                                            <span style="color: rgb(0, 0, 0);">Soft, safe, and gentle essentials specially created to care for newborn babies.</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Soft, safe, and gentle essentials specially created to care for newborn babies.</h4>
                                 
                                            </div>
                                        </div>
                                        <img src="{% static 'assets/images/baner-right-image-02.jpg' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4 style="color: rgb(0, 0, 0);">Kids</h4>
                                            <span style="color: rgb(0, 0, 0);">Trendy and comfortable clothing and accessories made for active and growing kids.</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Trendy and comfortable clothing and accessories made for active and growing kids.</h4>
                              
                                            </div>
                                        </div>
                                        <img src="{% static 'assets/images/baner-right-image-03.jpg' %}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="right-first-image">
                                    <div class="thumb">
                                        <div class="inner-content">
                                            <h4 style="color: rgb(0, 0, 0);">Disposable items</h4>
                                            <span style="color: rgb(0, 0, 0);" >Reliable and affordable disposable products designed for everyday household and event use.</span>
                                        </div>
                                        <div class="hover-content">
                                            <div class="inner">
                                                <h4>Reliable and affordable disposable products designed for everyday household and event use.</h4>
                             
                                            </div>
                                        </div>
                                        <img src="{% static 'assets/images/baner-right-image-04.jpg' %}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Kids Area Starts ***** -->
    <section class="section" id="kids">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Kid's Latest</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="kid-item-carousel">
                        <div class="owl-kid-item owl-carousel">
                            <div class="item">
                                <div class="thumb">
                     
                                    <img src="{% static 'assets/images/kid-01.jpg' %}" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>School Collection</h4>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                         
                                    <img src="{% static 'assets/images/kid-02.jpg' %}" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Summer Cap</h4>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                   
                                    <img src="{% static 'assets/images/kid-03.jpg' %}" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Classic Kid</h4>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="item">
                                <div class="thumb">
                  
                                    <img src="{% static 'assets/images/kid-01.jpg' %}" alt="">
                                </div>
                                <div class="down-content">
                                    <h4>Classic Spring</h4>
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Kids Area Ends ***** -->
    <!-- ***** About Area Starts ***** -->
<!-- ***** About Area Starts ***** -->
<div class="about-us" id="about">
    <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="{% static 'assets/images/about-left-image.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <h4>About Us </h4>
                        <span>Welcome to WASAM AL SHAHBA TRAD.(ASSO), your one-stop destination for everyday needs!
We provide quality products for newborn babies to 15-year-old children, offering a wide range of dresses, toys, school items, and daily-use essentials. Along with kids’ products, we also supply household needs like dishwash items, disposable products, and readymade garments for all age groups.</span>
              
                        <p>Our mission is to make shopping simple, affordable, and trustworthy. We hand-pick every product to ensure quality and customer satisfaction. Whether you are looking for cute baby clothing, teenage fashion styles, toys, home-care items, or disposable goods—we have everything under one roof.

We value your trust, and we aim to build long-lasting customer relationships through honesty, quality service, and fair pricing.

Thank you for choosing us!.</p>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe" id="contact">
    <div class="container">
            <div class="row">

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li>Store Location:<br><span>C.R:1126649 ,P.O:33 ,P.C.NO:415 ,S.O.OF OMAN ,JALAN BANI BU HASSAN</span></li>
                                <li>Phone:<br><span>988-878-99</span></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul>
                                <li>Work Hours:<br><span>07:30 AM - 9:30 PM Daily</span></li>
                                <li>Email:<br><span>trad@wasamalshahba.info</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Subscribe Area Ends ***** -->


    <!-- ***** Explore Area Starts ***** -->
    <section class="section" id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <h2>Explore Our Products</h2>
                        <span>Explore the world of convenience and variety at WASAM AL SHAHBA TRAD.(ASSO)
Discover our wide product categories:</span>
                 
                        <p>✔ Baby Clothing & Accessories
✔ Kids Dresses (Newborn to 15 Years)
✔ Toys & Gifts
✔ Readymade Garments
✔ Household Dishwash Items
✔ Disposable Products
✔ Daily Essentials</p>
                        <p>We are continuously growing, adding new products, trending designs, and unique collections every week. Visit us today to experience friendly service, budget-friendly prices, and a complete shopping experience for your family.

Your perfect shop is just one visit away—Explore us and find everything you need!</p>
                  
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="leather">
                                    <h4>Baby Clothing & Accessories </h4>
                                    <span>Latest Collection</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="first-image">
                                    <img src="{% static 'assets/images/explore-image-01.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="second-image">
                                    <img src="{% static 'assets/images/explore-image-02.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="types">
                                    <h4>Different Types</h4>
                                    <span>Over 304 Products</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Explore Area Ends ***** -->


    
<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">

            <!-- Logo & Contact Info -->
            <div class="col-lg-3 col-md-6">
                <div class="first-item">
                    <div class="logo">
                        <img style="border-radius:50px; margin-left:0;" height="70" width="220"
                             src="{% static 'assets/images/white-logo.png' %}"
                             alt="Wasam Al Shahba">
                    </div>

                    <p style="color:#ccc; margin-top:10px; font-size:14px;">
                        Serving customers with trust & quality since <strong>2011</strong>
                    </p>

                    <ul>
                        <li>
                            <a href="#">
                                C.R:1126649 ,P.O:33 ,P.C.NO:415 ,
                                S.O.OF OMAN , JALAN BANI BU HASSAN
                            </a>
                        </li>
                        <li><a href="mailto:wasamalshahba@gmail.com">wasamalshahba@gmail.com</a></li>
                        <li><a href="tel:98887899">988-878-99</a></li>
                    </ul>
                </div>
            </div>

            <!-- Since 2011 Section -->
            <div class="col-lg-3 col-md-6">
                <h4>Since 2011</h4>
                <p style="color:#ccc; font-size:14px;">
                    Trusted retail store offering baby products, kids wear,
                    toys, household and disposable items for over a decade.
                </p>
            </div>

            <!-- Products -->
            <div class="col-lg-3 col-md-6">
                <h4>Our Products</h4>
                <ul>
                    <li><a href="#">Newborn Baby Items</a></li>
                    <li><a href="#">Kids Wear</a></li>
                    <li><a href="#">Toys & Gifts</a></li>
                    <li><a href="#">Disposable Items</a></li>
                </ul>
            </div>

  

        </div>
    </div>
</footer>
<!-- ***** Footer End ***** -->

    

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>
    <script src="{% static 'assets/js/datepicker.js' %}"></script>
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script> 
    <script src="{% static 'assets/js/slick.js' %}"></script> 
    <script src="{% static 'assets/js/lightbox.js' %}"></script> 
    <script src="{% static 'assets/js/isotope.js' %}"></script> 
    
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <script>
// Smooth scrolling for navigation links
$(document).ready(function() {
    $(".scroll-to-section a").on('click', function(event) {
        if (this.hash !== "") {
            event.preventDefault();
            var hash = this.hash;
            
            $('html, body').animate({
                scrollTop: $(hash).offset().top - 80 // 80px offset for fixed header
            }, 800, function(){
                // Add hash to URL after scroll (optional)
                // window.location.hash = hash;
            });
        }
    });
});
        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>